:root{
    --main-padding:2rem;
    --light-font: #fff;
    --dark-bg:#909090;
}

.main .FeaturedPost {
    padding: var(--main-padding);
    /* background: #000; */
}
.main .FeaturedPost .title{
    padding: 0 .5rem;
    width: 8rem;
    font-size: 1rem;
    color:var(--light-font);
    background-color: var(--dark-bg);
}